<!-- Validation failure messages -->
<% if @reply.errors.any? %>
  <% @reply.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Reply</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_reply" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <input type="text" id="owner_id" name="owner_id" placeholder="Owner" class="form-control" value="<%= @reply.owner_id %>">
      </div>

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <input type="text" id="review_id" name="review_id" placeholder="Review" class="form-control" value="<%= @reply.review_id %>">
      </div>

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="<%= @reply.content %>">
      </div>

      <button class="btn btn-success">
        Create Reply
      </button>
      or
      <a href="/replies">Cancel</a>
    </form>
  </div>
</div>
