<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Reviews completed</dt>
      <dd><%= @user.reviews_completed %></dd>

      <dt>Avgratings</dt>
      <dd><%= @user.avgratings %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many reviews -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Reviews
      </li>

      <% @user.reviews.each do |review| %>
        <li class="list-group-item">
          <a href="/reviews/<%= review.id %>">
            <%= review.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/reviews/<%= review.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == review.user %>
              <a href="/reviews/<%= review.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_review/<%= review.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many restaurant_owners -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Restaurant Owners
      </li>

      <% @user.restaurant_owners.each do |ownership| %>
        <li class="list-group-item">
          <a href="/ownerships/<%= ownership.id %>">
            <%= ownership.restaurant_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/ownerships/<%= ownership.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == ownership.user %>
              <a href="/ownerships/<%= ownership.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_ownership/<%= ownership.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many replies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Replies
      </li>

      <% @user.replies.each do |reply| %>
        <li class="list-group-item">
          <a href="/replies/<%= reply.id %>">
            <%= reply.owner_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/replies/<%= reply.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == reply.user %>
              <a href="/replies/<%= reply.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_reply/<%= reply.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
