<!-- Validation failure messages -->
<% if @ownership.errors.any? %>
  <% @ownership.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Ownership #<%= @ownership.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_ownership/<%= @ownership.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <input type="text" id="restaurant_id" name="restaurant_id" placeholder="Restaurant" class="form-control" value="<%= @ownership.restaurant_id %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @ownership.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Ownership
      </button>
      or
      <a href="/ownerships/<%= @ownership.id %>">Cancel</a>
    </form>
  </div>
</div>
