<div class="page-header">
  <h1>
    Ownerships
    <a href="/ownerships/new" class="btn btn-lg btn-success">New Ownership</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Restaurant</th>
        <th>User</th>
        <th>Actions</th>
      </tr>

      <% @ownerships.each do |ownership| %>
      <tr>
        <td>
          <% if ownership.restaurant.present? %>
            <a href="/restaurants/<%= ownership.restaurant.id %>">
              <%= ownership.restaurant.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if ownership.user.present? %>
            <a href="/users/<%= ownership.user.id %>">
              <%= ownership.user.email %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/ownerships/<%= ownership.id %>" class="btn btn-primary">Show</a>
          <a href="/ownerships/<%= ownership.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_ownership/<%= ownership.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @ownerships, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
