<div class="page-header">
  <h3>Ownership #<%= @ownership.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @ownership.restaurant_id %></dd>

      <dt>User</dt>
      <dd><%= @ownership.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ownerships" class="btn btn-primary">
        Back
      </a>
      <a href="/ownerships/<%= @ownership.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ownership/<%= @ownership.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
