<div class="page-header">
  <h3>Ownership #<%= @ownership.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @ownership.restaurant_id %></dd>

      <dt>User</dt>
      <dd><%= @ownership.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ownerships" class="btn btn-primary">
        Back
      </a>
      <a href="/ownerships/<%= @ownership.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ownership/<%= @ownership.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Ownership has many replies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Replies
      </li>

      <% @ownership.replies.each do |reply| %>
        <li class="list-group-item">
          <a href="/replies/<%= reply.id %>">
            <%= reply.owner_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/replies/<%= reply.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/replies/<%= reply.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reply/<%= reply.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_reply" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for owner_id -->
      <div class="form-group">
        <label for="owner_id" class="control-label">
          Owner
        </label>

        <%= select_tag(:owner_id, options_from_collection_for_select(User.all, :id, :email), :class => "form-control") %>
      </div>

      <!-- Label and input for review_id -->
      <div class="form-group">
        <label for="review_id" class="control-label">
          Review
        </label>

        <input type="text" id="review_id" name="review_id" placeholder="Review" class="form-control" value="">
      </div>

      <!-- Label and input for content -->
      <div class="form-group">
        <label for="content" class="control-label">
          Content
        </label>

        <input type="text" id="content" name="content" placeholder="Content" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Reply
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
