<div class="page-header">
  <h3>Ownership #<%= @ownership.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @ownership.restaurant_id %></dd>

      <dt>User</dt>
      <dd><%= @ownership.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/ownerships" class="btn btn-primary">
        Back
      </a>
      <a href="/ownerships/<%= @ownership.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_ownership/<%= @ownership.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Ownership has many replies -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Replies
      </li>

      <% @ownership.replies.each do |reply| %>
        <li class="list-group-item">
          <a href="/replies/<%= reply.id %>">
            <%= reply.owner_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/replies/<%= reply.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/replies/<%= reply.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_reply/<%= reply.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
