<div class="page-header">
  <h3>Tag #<%= @tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @tag.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/tags" class="btn btn-primary">
        Back
      </a>
      <a href="/tags/<%= @tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_tag/<%= @tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Tag has many descriptors -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Descriptors
      </li>

      <% @tag.descriptors.each do |descriptor| %>
        <li class="list-group-item">
          <a href="/descriptors/<%= descriptor.id %>">
            <%= descriptor.tag_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/descriptors/<%= descriptor.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/descriptors/<%= descriptor.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_descriptor/<%= descriptor.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_descriptor" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tag_id -->
      <input type="hidden" name="tag_id" value="<%= @tag.id %>">

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :name), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Descriptor
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
