<div class="page-header">
  <h1>
    Pictures
    <a href="/pictures/new" class="btn btn-lg btn-success">New Picture</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Comment</th>
        <th>Review</th>
        <th>Image url</th>
        <th>Caption</th>
        <th>Actions</th>
      </tr>

      <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.comment %></td>
        <td>
          <% if picture.review.present? %>
            <a href="/reviews/<%= picture.review.id %>">
              <%= picture.review.restaurant_id %>
            </a>
          <% end %>
        </td>
        <td><%= picture.image_url %></td>
        <td><%= picture.caption %></td>
        <td>
          <a href="/pictures/<%= picture.id %>" class="btn btn-primary">Show</a>
          <a href="/pictures/<%= picture.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_picture/<%= picture.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @pictures, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
