<!-- Validation failure messages -->
<% if @restaurant.errors.any? %>
  <% @restaurant.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Restaurant</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_restaurant" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @restaurant.name %>">
      </div>

      <!-- Label and input for address -->
      <div class="form-group">
        <label for="address" class="control-label">
          Address
        </label>

        <input type="text" id="address" name="address" placeholder="Address" class="form-control" value="<%= @restaurant.address %>">
      </div>

      <!-- Label and input for neighborhood_id -->
      <div class="form-group">
        <label for="neighborhood_id" class="control-label">
          Neighborhood
        </label>

        <%= select_tag(:neighborhood_id, options_from_collection_for_select(Neighborhood.all, :id, :name, @restaurant.neighborhood_id), :class => "form-control") %>
      </div>

      <!-- Label and input for city -->
      <div class="form-group">
        <label for="city" class="control-label">
          City
        </label>

        <input type="text" id="city" name="city" placeholder="City" class="form-control" value="<%= @restaurant.city %>">
      </div>

      <!-- Label and input for total_stars -->
      <div class="form-group">
        <label for="total_stars" class="control-label">
          Total stars
        </label>

        <input type="text" id="total_stars" name="total_stars" placeholder="Total stars" class="form-control" value="<%= @restaurant.total_stars %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @restaurant.description %>">
      </div>

      <!-- Label and input for hours -->
      <div class="form-group">
        <label for="hours" class="control-label">
          Hours
        </label>

        <input type="text" id="hours" name="hours" placeholder="Hours" class="form-control" value="<%= @restaurant.hours %>">
      </div>

      <!-- Label and input for website -->
      <div class="form-group">
        <label for="website" class="control-label">
          Website
        </label>

        <input type="text" id="website" name="website" placeholder="Website" class="form-control" value="<%= @restaurant.website %>">
      </div>

      <!-- Label and input for number_reviews -->
      <div class="form-group">
        <label for="number_reviews" class="control-label">
          Number reviews
        </label>

        <input type="text" id="number_reviews" name="number_reviews" placeholder="Number reviews" class="form-control" value="<%= @restaurant.number_reviews %>">
      </div>

      <button class="btn btn-success">
        Create Restaurant
      </button>
      or
      <a href="/restaurants">Cancel</a>
    </form>
  </div>
</div>
