<div class="page-header">
  <h3>Review #<%= @review.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Restaurant</dt>
      <dd><%= @review.restaurant_id %></dd>

      <dt>User</dt>
      <dd><%= @review.user_id %></dd>

      <dt>Description</dt>
      <dd><%= @review.description %></dd>

      <dt>Stars</dt>
      <dd><%= @review.stars %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/reviews" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @review.user %>
        <a href="/reviews/<%= @review.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_review/<%= @review.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Review has many pictures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Pictures
      </li>

      <% @review.pictures.each do |picture| %>
        <li class="list-group-item">
          <a href="/pictures/<%= picture.id %>">
            <%= picture.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/pictures/<%= picture.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/pictures/<%= picture.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_picture/<%= picture.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
